# The following Python pacakges is required for building and running LIBTwinSVM:

cython
numpy
matplotlib
pyQt5
sklearn
pandas
xlsxwriter
joblib
# NumPydoc ver. 0.7.0 should be install for building docs properly
numpydoc==0.7.0